.container {
  height: 120px;
  background: white;
  box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  transition: background-color 0.3s ease-in-out;
}


.scrolled {
  background-color: rgba(255, 255, 255, 0.9);
  height: 80px;
}


.header {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.09em;
  color: #ffffff;
  font-family: 'Apercu Pro';
  font-size: 17px;
  line-height: 22px;
  color: #fff;
  text-align: center;
}

.announcmentBanner {
  display: flex;
  background: linear-gradient(180deg, #ff5f5f 0%, #fe0000 100%);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 50px;
  transition: opacity 0.3s ease-in-out;
}

.hidden {
  opacity: 0;
  pointer-events: none;
  height: 0px;
}


.menuWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.menuHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 70%;
  height: 100%;
}

.menuItems {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 60%;
  height: 100%;
}

.menuItems > div {
  padding: 0 1rem;
  width: auto;
  margin: 0;
  line-height: 0px;
}

.menuItems > div > a{
  padding: 1rem;
  width: auto;
  margin: 0;
}


.menuItems > div h6 {
  font-size: 25px;
  color: rgb(13, 13, 13);
  font-weight: 100;
  font-size: 17px;
  line-height: 30px;
  text-align: center;
  color: #141414;
  letter-spacing: 0.3px;
}

.customerService {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: auto;
}

.customerServiceText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: auto;
  padding: 0 1rem;
}

.menuItems > div {
  padding: 0 1rem;
  width: auto;
  margin: 0;
  line-height: 0px;
}

.menuItems > div > a {
  padding: 1rem;
  width: auto;
  margin: 0;
}

.menuItems > div h6 {
  font-size: 25px;
  color: rgb(13, 13, 13);
  font-weight: 100;
  font-size: 17px;
  line-height: 30px;
  text-align: center;
  color: #141414;
  letter-spacing: 0.3px;
}

.customerServiceText h6 {
  font-size: 25px;
  color: rgb(13, 13, 13);
  font-weight: 100;
  font-size: 17px;
  line-height: 30px;
  text-align: center;
  color: #141414;
  letter-spacing: 0.3px;
}
.hamburger {
  display: none;
}
@media (max-width: 479px) {
  .container {
    height: unset;
  }
  .menuHeader {
    padding: 0.5rem 0;
    width: 90%;
  }
  .menuLogo img {
    width: 100px !important;
  }
  .menuItems,
  .customerService {
    display: none;
  }
  .header {
    font-size: 12px;
  }

  .hamburger {
    display: block;
    position: relative;
    width: 35px;
    height: 20px;
  }
  .hamburger span:nth-child(1) {
    top: 0;
  }
  .hamburger span:nth-child(2) {
    top: 9px;
  }
  .hamburger span:nth-child(3) {
    top: 18px;
  }
  .hamburger span {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    left: 0;
    display: block;
    width: 100%;
    height: 3px;
    color: black;
    background-color: #000;
    position: absolute;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
  }
  .menuList {
    padding-left: 0;
    display: block;
    position: absolute;
    width: 100%;
    z-index: 999;
    overflow-y: auto;
    overflow-x: hidden;
    left: 0%;
    top: 60px;
    background: #142654;
    border-top: 1px solid #6c7fb0;
  }
  .menuList > div  a {
    font-size: 18px;
    padding: 15px 10px 15px 10px;
    text-align: left;
    color: #fff;
    display: block;
    border-bottom: 1px dotted #6c7fb0;
}
}
