.container {
  height: 120px;
  background: white;
  box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.header {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.09em;
  color: #ffffff;
  font-family: 'Apercu Pro';
  font-size: 17px;
  line-height: 22px;
  color: #fff;
  text-align: center;
}

.announcmentBanner {
  display: flex;
  background: linear-gradient(180deg, #ff5f5f 0%, #fe0000 100%);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 50px;
}

.menuWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

.menuHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 70%;
  height: 100%;
}

.menuItems {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 60%;
  height: 100%;
}

.menuItems > div {
  padding: 0 1rem;
  width: auto;
  margin: 0;
}

.menuItems > div > a{
  padding: 1rem;
  width: auto;
  margin: 0;
}


.menuItems > div h6 {
  font-size: 25px;
  color: rgb(13, 13, 13);
  font-weight: 100;
  font-size: 17px;
  line-height: 30px;
  text-align: center;
  color: #141414;
  letter-spacing: 0.3px;
}

.customerService {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: auto;
}

.customerServiceText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: auto;
  padding: 0 1rem;
}

.customerServiceText h6 {
  font-size: 25px;
  color: rgb(13, 13, 13);
  font-weight: 100;
  font-size: 17px;
  line-height: 30px;
  text-align: center;
  color: #141414;
  letter-spacing: 0.3px;
}
@media (max-width: 479px) {
  .container {
    height: unset;
  }
  .menuHeader {
    padding: 0.5rem 0;
    width: 90%;
  }
  .menuLogo img {
    width: 100px !important;
  }
  .menuItems,
  .customerService {
    display: none;
  }
  .header {
    font-size: 12px;
  }
}
