
.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.formCard {
  background-color: #9a9a9a !important;
  border-radius: 6px;
  padding: 1rem;
  width: 60%;
}

/* Mobile */
@media (max-width: 900px) {
}

/* Mobile */
@media (max-width: 700px) {
}

/* Mobile */
@media (max-width: 479px) {
}
