
.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

/* ============================================================================================================================================================
  Form
================================================================================================================================================================ */
.formCard {
  background-color: #ffffff !important;
  border-radius: 6px;
  padding: 1rem;
  width: 60%;
}

/* ============================================================================================================================================================
  Product Input
================================================================================================================================================================ */
.productRow {
  cursor: pointer;
  position: relative;
  display: flex;
  height: auto;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem;
  width: 100%;
  color: rgb(34, 34, 34)
}

.productRow:hover {
  background-color: rgb(236, 236, 236);
  border-radius: 5px;
}

.checkBoxProduct {
  position: "relative";
  display: "flex";
  height: "auto";
  flex-direction: "column";
  justify-content: "center";
  align-content: "center";
  padding-right: "10px";
  width: "10%";
}

.productTitleBox {
  position: "relative";
  display: "flex";
  height: "auto";
  flex-direction: "column";
  justify-content: "flex-end";
  width: 70%;
}

.productPrice {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.checkBoxProduct > div {
  background-color: rgb(255, 255, 255);
  width: 15px;
  height: 15px;
  border-radius: 10px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.checkBoxProduct > div > div {
  background-color: rgb(123, 123, 245);
  width: 10px;
  height: 10px;
  border-radius: 10px;
}
/* ============================================================================================================================================================
  Address Input
================================================================================================================================================================ */
.addressRow {
  cursor: pointer;
  position: relative;
  display: flex;
  height: auto;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  margin-bottom: 1rem;
  padding: 0 0.5rem;
}

.checkBoxProduct {
  position: "relative";
  display: "flex";
  height: "auto";
  flex-direction: "column";
  justify-content: "center";
  align-content: "center";
  padding-right: "10px";
  width: "10%";
}

.bestProduct {
  background: yellow !important;
  border-radius: 6px;
}
/* ============================================================================================================================================================
  Custom Input
================================================================================================================================================================ */
.CustomInput {
  font-size: 16px;
  height: auto;
  transition: border-color 0.3s;
  color: black;
  padding: "0rem 0rem";
  width: 100%;
  align-items: flex-start;
}

.CustomInput input {
  border-radius: 6px;
  height: 50px;
  background: white;
  background-color: rgb(245, 245, 245);
  border: 1px solid #bbb;
}

.CustomInput:hover + label,
.CustomInput:active + label,
.CustomInput:not(:placeholder-shown) + label {
  font-size: 12px;
  top: -5px;
  left: 0;
  transform: translate(0, 0);
  transition: font-size 0.3s, top 0.3s, left 0.3s;
}

.reqMark {
  position: absolute;
  top: 2rem;
  right: 1rem;
  font-weight: bold;
  color: red;
}
.selected {
  padding: 0;
}
.selected h5 {
  color: black;
  margin: 1rem 0;
}

.formTitle {
  color: black;
  padding: 1rem 0;
}

.rushBox {
  border: 4px dashed black;
  padding: 1rem 0;
  margin: 1rem 0;
  cursor: pointer;
}

.rushHeader {
  background: #FEFF99;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 153, 0);
}

.rushHeader h4 {
  line-height: 30px;
  font-size: 20px;
}

.bumpText {
  color: black;
  padding: 1rem 2rem;
}

.bumpText strong {
  color: red;
  text-decoration: underline;
  padding-right: 0rem 5px;
}

.payBtn {
  width: 100%;
  height: 80px;
  color: rgb(255, 255, 255);
  background-color: rgb(83, 182, 54);
  font-size: 30px;
  border: 0 solid black;
  border-radius: 5px;
  cursor: pointer;
}

.additonalFormInfo {
  border: 1px solid black;
  padding: 1rem;
  margin: 1rem 0;
  display: flex;
  justify-content: flex-start;
}

.additonalFormInfo > div {
  align-items: flex-start;
}
.additonalFormInfo p {
  color: black;
}

.thankYouMsg {
  background-color: black;
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.thankYouMsg h2 {
  margin-bottom: 1rem;
}

.textSection {
  max-width: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 2rem 1rem 2rem;
  font-size: 20px;
  font-weight: 100;
}

.influencers {
  padding: 3rem 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.influencerItem {
  padding: 0 3rem;
  max-width: 400px;
}

.textContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  padding-bottom: 3rem;
  font-size: 20px;
  font-weight: 100;
}

.accordionContainer {
  width: 100%;
  display: flex;
  margin-bottom: 1%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  cursor: pointer;
}

.accordionBtn {
  width: 50%;
  padding: 1rem;
  border-radius: 5px;
  background: #ffffff;
  color: black;
  font-size: 20px;
  font-weight: 100;
  display: flex;
  border: 0 solid black;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.accordionChild {
  width: 50%;
  padding: 1rem;
  border-radius: 5px;
  background: #ffffff;
  color: black;
  font-size: 20px;
  font-weight: 100;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.wobbleButton {
  padding: 12px 24px;
  font-size: 30px;
  background-color: #52B635;
  border: none;
  border-radius: 4px;
  color: #070707;
  cursor: pointer;
  animation: wobble 1s infinite;
}

.textContainerTwo h5 {
  justify-content: flex-start;
  text-align: left;
}

.textContainerTwo {
  padding: 1rem 3rem 1rem 0 !important;
  text-align: left !important;
  align-items: flex-start;
}

.textContainerTwo p {
  max-width: 100%;
  padding: 0rem 3rem 0 0 !important;
}

@keyframes wobble {
  0% {
    transform: translateX(0);
  }
  15% {
    transform: translateX(-20px) rotate(-5deg);
  }
  30% {
    transform: translateX(15px) rotate(3deg);
  }
  45% {
    transform: translateX(-10px) rotate(-3deg);
  }
  60% {
    transform: translateX(5px) rotate(2deg);
  }
  75% {
    transform: translateX(-3px) rotate(-1deg);
  }
  100% {
    transform: translateX(0);
  }
} 

.progressbar_nocorners {
  border-radius: 0 !important;
}
.mediumProgressBar {
  height: 45px;
  line-height: 45px;
  font-size: 19px;
}

.progressBar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
  box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
  -webkit-transition: width .6s ease;
  transition: width .6s ease;
}

.progress {
  overflow: hidden;
  height: 45px;
  /* /* margin-bottom: 20px; */
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  width: 700px
}

.mediumProgressBar .progressBar {
  line-height: 45px;
  font-size: 19px;
  height: 45px;
}

.progressBarStripedActive {
  background-image: -webkit-linear-gradient(45deg, rgba(255,255,255,0.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255,255,255,0.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255,255,255,0.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.15) 75%, transparent 75%, transparent);
  -webkit-background-size: 40px 40px;
  background-size: 40px 40px;
  -webkit-animation: progress-bar-stripes 2s linear infinite reverse;
  -o-animation: progress-bar-stripes 2s linear infinite reverse;
  animation: progress-bar-stripes 2s linear infinite reverse;
}
.progressBar {
  -webkit-transition: width .25s ease, height .25s ease, font-size .25s ease;
  -moz-transition: width .25s ease, height .25s ease, font-size .25s ease;
  -ms-transition: width .25s ease, height .25s ease, font-size .25s ease;
  -o-transition: width .25s ease, height .25s ease, font-size .25s ease;
  transition: width .25s ease, height .25s ease, font-size .25s ease;
}

.progressbar_w_75 {
  width: 75%;
}

@keyframes progress-bar-stripes {
  0% {
    background-position: 40px 0;
  }
  100% {
    background-position: 0 0;
  }
} 

.formContainer input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px inset rgba(236, 236, 236, 0.892);
  border: 1px solid #bbb;
  -webkit-text-fill-color: rgb(16, 16, 16);
}

.formContainer input:-webkit-autofill::-webkit-input-placeholder {
  color: transparent;
}

.formContainer input:-webkit-autofill::-webkit-text-fill-color {
  color: rgb(16, 16, 16);
}

.quickInfo h2,
.quickInfo h3 {
  padding: 1rem 0;
}

.purchaseBox {
  border: 1px dashed rgb(234, 78, 78);
  padding: 0.5rem 4rem; 
  font-size: 40px;
  max-width: 750px;
  border-radius: 6px;
  text-align: left;
  margin-bottom: 4rem;
}

.purchaseBox > div:last-of-type > div {
  justify-content: flex-start;
  align-items: flex-start;
}

.purchaseBox h2 {
  text-align: left;
  font-size: 25px;
  padding: 1rem 0;
}

.purchaseBox h4 {
  text-align: left;
  font-size: 20px;
}

.purchaseBox h5 {
  text-align: left;
  font-size: 15px;
  padding: 1rem 0;
}


.purchaseBox p {
  text-align: left;
  font-size: 18px;
  padding: 1rem 0;
}

.decline {
  border: 1px solid black;
  border-radius: 6px;
  padding: 1rem;
  color: #070707;
}

/* Mobile */
@media (max-width: 900px) {
}

/* Mobile */
@media (max-width: 700px) {
}

/* Mobile */
@media (max-width: 479px) {
  .mobileCol {
    display: flex;
    flex-direction: column;
  }
  .mobileFull {
    width: 100% !important;
    padding: 0 !important;
    justify-content: center !important;
    align-items: center !important;
  }

  .formCard {
    width: 90% !important;
  }

  .wobbleButton {
    width: 90% !important;
    font-size: 20px;
  }

  .accordionBtn {
    width: 90%;
  }

  .mobileIcon {
    margin-bottom: 25%;
  }


  .mobileIcon p {
    max-width: 250px;
  }

  .textContainer p {
    max-width: 100%;
    padding-right: 0rem !important;
  }

  .textContainerTwo h5 {
    justify-content: flex-start;
    text-align: left;
  }

  .textContainerTwo {
    padding: 1rem 0rem !important;
  }

  .textContainerTwo p {
    max-width: 100%;
    padding: 0rem 1rem !important;
  }

  .accordionChild {
    width: 90%;
  }
  .textContainer h1 {
    text-align: center;
  }

  .textContainer img {
    max-width: 100%;
    padding: 0rem 2rem 4rem 2rem !important;
  }

  .accordionBtn {
    width: 90%;
  }
  .influencerItem img {
    max-width: 100%;
    padding: 0rem 2rem 4rem 2rem !important;
  }
  .quickInfo {
    padding: 0 1rem;
  }

  .quickInfo h2 {
    font-size: 18px;
  }

  .quickInfo h3 {
    padding: 1rem 0;
  }
  
  .pSection {
    padding: 0 1rem 2rem 1rem !important;
  }

  .progress {
    width: 400px;
  }

  .upsellAc h1 {
    width: 90%;
  }

}
